# Module 1 Examples - Data Types

The purpose of this notebook is to walk through some of the fundamentals of using python.

In [6]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

### Essentials

In [4]:
print("hello") #This represents a statement
# anything with a "#" in front of it is a comment and is not executed
a = '1' + '2' + '3' + \
    '4' + '5'  # backwards slash can be used to create a line break in a statement
a

hello

'12345'

### Data types and syntax

In python, variables are untyped, meaning that you do not need to explicitly specify the type of the variable; variable types are inferred based on the format and syntax.

In [6]:
string_example1 = "Hello" #this assigns the var
string_example2 = 'Hello' #both "" and '' can be used for strings
type(string_example1), type(string_example2) #the type() function can be used to check what type a variable is

print(string_example1 == 'Hello') #A double equal sign (==) is used to check for equaliy and will return True or False
print(string_example1 == 12345)

(str, str)

True
False

Variables can be reassigned to have values with a different type, however in this example this would no longer be a descriptive variable name

In [13]:
string_example1 = 123 
type(string_example1)

int

With numeric variables, you can generally perform math much as you would expect

In [8]:
num_example1 = 12
num_example2 = 6
num_example1*num_example2
((4+num_example1*num_example2)-2)/2

72

37.0

When possible, the type of a value can also be converted

In [14]:
string_example1 = str(string_example1) #this converts an integer into a string 
print(string_example1)
print(type(string_example1))
int(str)

123
<class 'str'>

Variables can easily be used as placeholders in text with what are known as f-strings

In [ ]:
name = "Jane Doe"
print(f"Hello, my name is {name}") #f-strings allow you to easily reference and use variables in text

### Basic String and List Operations

In [16]:
w = "world"
h = "Hello"
print(h +" "+ w) #strings can be concatenated, or joined together

#to add to the end of one variable (concatenated), or summed for integer values, you can also use the notation `+=`, which is the same as var = var + new
h += " " +w
print(h)

first = 3
second = 2
first += second 
first

# similar notation like *= and -= can also be used, e.g.:
first *= second #remember, now the value of first = 5 and second is still equal to 2, so we are doing 5*2
first

Hello world
Hello world

5

10

Both lists and strings can be indexed, meaning that they can be referenced with and sliced based on their consituent parts (i.e. items in a list or characters in a string).

In [22]:
state = "Mississippi"
print(len(state)) #prints the number of characters in a string
print(state[0:4])
print(state[:4]) #this is the same as above as 0 is used for the start when not specified

print(state[4:11])
print(state[4:]) #if end is not specified, the end of the string is used

print(state[-2:]) #you can also use negative indices to count from the end instead of the beginning

11
Miss
Miss
issippi
issippi
pi

In [1]:
list_example = [1,2,3,"a",True] #lists can contain items of multiple types
print(list_example[2]) #They can be indexed just like lists
print(list_example[:3])

3
[1, 2, 3]

You can also use string manipulation to change the contents of the string

In [2]:
email = "jdoe@gmail.com"
email.replace('gmail.com','purdue.edu') #.replace(<value_to_replace>,<new_value>) can be used to replace a character or string with another character or string, or even remove it completely.

'jdoe@purdue.edu'

In [8]:
#If you don't know the index, you can also split on a particular character or substring, with the .split(<value_to_split_on>) function. Note thtat this will return a list.
email_components = email.split('@') 
email_components
#You can then access list elements separately, or join it back into a string
username = email_components[0] #access elements separately
username

'AT'.join(email_components)# join back into a string with 'AT' denoting where the split used to be

['jdoe', 'gmail.com']

'jdoe'

'jdoeATgmail.com'